@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");


:root{
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

body{
    height: 100vh;
    background-color: var(--background-color);
    text-align: center;
    padding: 0.25rem;
}

/* Header section */

.header-content{
    max-width: 1020px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem;
}

.logo{
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.logo-icon{
    height: 5.875rem;
    width: 1.938rem;
}

.logo-text{
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
}

.nav{
    display: none;
    gap: 1.5rem;
}

@media screen and (min-width: 768px){
    .nav{
        display: flex;
    }
}

.nav-link{
    color: #718096;
    font-size: 1.125rem;
    font-weight: 600;
    transform: color 0.3s;
}

.nav-link:hover{
    color: var(--link-color);
}

.contact-button{
    display: none;
    border: none;
    border-radius: 0.375rem;
    color: var(--background-color);
    background-color: var(--primary-color);
    transform: all 0.3s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.contact-button:hover{
    background-color: #5254f8;
    cursor: pointer;
}

@media screen and (min-width: 768px){
    .contact-button{
        display: block;
    }
}

.menu-button{
    display: none;
    border: none;
    border-radius: 0.375rem;
    padding: 0.5rem 1.15rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--background-color);
}

@media screen and (max-width: 768px){
    .menu-button{
        display: block;
    }
}

.menu-icon{
    height: 1.5rem;
    width: 1.5rem;
}


/* Hero section */

.main-section{
    max-width: 1020px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 0.6rem;
}

.content-left{
    text-align: center;
    animation: slideFromLeft 1.25s ease forwards;
    opacity: 0;
}

@keyframes slideFromLeft{
    0%{
        opacity: 0;
        transform: translate(-100%);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

.section-label{
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--primary-color);
}

.section-title{
    font-size: 2.3rem;
    padding: 1.1rem;
    color: var(--text-color);
}

.section-description{
    font-size: 1.125rem;
    color: var(--gray);
}

.button-group{
    display: flex;
    gap: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
}

.start-button, .tour-button{
     border: none;
    border-radius: 0.375rem;
    color: var(--background-color);
    background-color: var(--primary-color);
    transform: all 0.3s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.tour-button{
    background-color: var(--dark-gray);
}

.start-button:hover{
    background-color: #5254f8;
    cursor: pointer;
}

.tour-button:hover{
    background-color: var(--gray);
    cursor: pointer;
}

.content-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container{
    overflow: hidden;
    border-radius: 1.25rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 50vh;
}

.section-image{
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 768px){
    .main-section{
        flex-direction: row;
        justify-content: space-between;
        margin-top: 2rem;
    }
    .content-left{
        max-width: 50%;
        text-align: left;
    }
    .section-title{
        padding-left: 0;
        font-size: 3rem;
    }
    .button-group{
        justify-content: flex-start;
        padding-left: 0;
    }
    .image-container{
        height: 68vh;
    }
    .section-description{
        font-size: 0.85rem;
        width: 80%;
    }
}

/* Mini Hero section */

.company-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    animation: slideFromLeft ease 1.25s forwards;
}

.comopany-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color);
}

.company-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.5rem;
    margin-top: 1.5rem;
    margin-bottom: 4rem;
    padding: 1.75rem 2.5rem;
    background-color: var(--light-gray);
    border: none;
    border-radius: 0.625rem;
}

.company-logo{
    display: flex;
    gap: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray);
}

.svg-img{
    height: 1.5rem;
}

.logo-txt{
    font-size: 1.25rem;
}

@media screen and (min-width: 768px ){
    .company-grid{
        grid-template-columns: repeat(4, 1fr);
    }
    
    .comopany-title{
    font-size: 2rem;
    }
}

@media screen and (max-width: 420px ){
    .company-grid{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Features Section */

.feature-container{
    background-color: var(--light-gray);
    padding: 2.5rem 0;
    text-align: center;
}
.feature-content{
    max-width: 850px;
    margin: 0 auto;
    padding: 0 2rem;
}

.main-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-title{
    font-size: 2.2rem;
    font-weight: bold;
    color: var(--text-color);
}

.main-description{
    color: var(--gray);
    font-size: 1rem;
}

.feature-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 1.5rem;
}

.feature-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: rgb(34, 167, 197);
    padding: 1.5rem;
    border-radius: 1rem;
}

.feature-svg{
    height: 1.5rem;
    width: 1.5rem;
}

.icon-container{
    background-color: var(--background-color);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.feature-title{
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
}

.feature-description{
    color: white;
}

.feature-card:nth-child(1){
    background-color: #4a90e2;
}
.feature-card:nth-child(2){
    background-color: #FF6289;
}
.feature-card:nth-child(3){
    background-color: #fcbf58;
}
.feature-card:nth-child(4){
    background-color: #44bfc3;
}
.feature-card:nth-child(5){
    background-color: #77b05d;
}
.feature-card:nth-child(6){
    background-color: #7d78b1;
}

@media screen and (max-width: 768px){
    .feature-grid{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Testimonial Section */

.testimonial-container{
    background-color: var(--background-color);
    max-width: 1080px;
    margin: 0 auto;
    padding: 2rem;
}

.testimonial-content{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 2rem;
}

.testimonial-title{
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
}

.testimonial-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    gap: 1rem;
}

.testimonial-card{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(188, 175, 175);
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0.75rem;
    gap: 0.5rem;
    transition: transform 0.3s ease, box-shadow 0.3 ease;
}

.testimonial-card:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(19, 19, 208);
}

.testimonial-avatar img{
    height: 4rem;
    width: 4rem;
}

.testimonial-text{
    font-size: 0.875rem;
    color: var(--dark-gray)
}

.testimonial-name{
    font-size: 1.25rem;
    color: var(--primary-color);
}

.testimonial-desc{
    font-size: 0.75rem;
     color: var(--gray)
}

/* Newsletter Section */

.newsletter-container{
    background-color: var(--background-color);
    max-width: 1080px;
    height: 55vh;
    margin: 0 auto;
}

.newsletter-content{
    display: flex;
    flex-direction: row;
    background-color: var(--light-gray);
    height: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
}

.news-left{
    height: 100%;
    /* width: 50%; */
    display: none; 
}

.news-left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.news-right{
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    padding: 2rem;
    justify-content: center;
    align-items: flex-start;
    width: 98%;
}

.news-info{
    padding:0 2rem;
}

.news-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
}

.news-desc{
    text-align: left;
    color: var(--gray);
}

.news-form{
    display: flex;
    flex-wrap: wrap;
    padding: 0 2rem;
    margin: 0.75rem 0;
    gap: 0.75rem;
}

.news-email{
    background-color: var(--background-color);
    color: #333;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    padding: 0.5rem 0.75rem;
}

.news-email:focus{
    border-color:#2563eb;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

.news-send-button{
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
}

.news-send-button:hover{
    background-color: var(--link-color);
    cursor: pointer;
}

.privacy-policy{
    font-size: 0.75rem;
    padding: 0 2rem;
    color: var(--gray);
}

.news-link{
    text-decoration: underline;
    color: #2563eb;
}

@media screen and (min-width: 708px){
    .news-left{
        display: block;
        width: 50%;
    }
    .news-right{
         width: 50%;
    }
    .newsletter-container{
        padding: 2rem;
    }
    .news-title{
        font-size: 2rem;
    }
}

/* Footer section */
.footer-container{
    background-color: var(--background-color);
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
}

.footer{
    max-width: 1280px;
    padding: 1.2rem 2.4rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
}

.footer-top{
    width: 34%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.logo-svg{
    height: 6rem;
    width: 2rem;
}

.comp-logo{
    display: flex;
    justify-content: flex-start;
    margin-bottom: -2rem;
}

.logo-link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    font-size: 1.25rem;
    font-weight: bold;
    color: black;
}

.social-icon{
    height: 1.5rem;
    width: 1.5rem;
}

.social{
    display: flex;
    gap: 0.5rem;
}

.filler-text{
    font-size: 1rem;
    color: var(--gray);
}

.footer-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 58%;
    gap: 5.67rem;   
    padding-top: 2rem;
}

.footer-grid-heading{
    font-size: 1.05rem;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 1.7rem;
}

.footer-links-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.footer-link{
    color: var(--gray);
    font-size: 0.875rem;
}

.footer-copyright{
    color: var(--gray);
    font-size: 0.875rem;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    border-top: 1px solid #E5E7EB;
}

@media screen and (max-width: 1080px){
    .footer{
        flex-direction:column;
        align-items: center;
    }
    .footer-top{
        padding-left: 7.5rem;
    }
    .footer-grid{
        align-self: center;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 840px){
    .footer-top{
        padding-left: 3rem;
    }
    .footer-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}